@charset "UTF-8";
main.pagina-tripulacion, main.pagina-inicio {
  height: 100vh;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  background-size: cover;
  background-position: center; }

main.pagina-tecnologia {
  height: 100vh;
  padding: 3.75rem 5rem 1.25rem 5rem;
  background-size: cover;
  background-position: center; }

/*Mobile: Main: Página de Tecnología*/
main.pagina-tecnologia {
  background-image: url("../img/img-astronauta.png"); }
  main.pagina-tecnologia h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.37rem;
    color: white;
    margin-top: 1rem; }
    main.pagina-tecnologia h1 .h1-light {
      font-weight: 300; }
  main.pagina-tecnologia .icon-down {
    text-align: center;
    padding: 0.62rem;
    animation-name: indicate-down;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    margin-top: 13rem; }

@keyframes indicate-down {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(6px); } }

/*Mobile: Section: Transportes y bases espaciales*/
section.transportes-bases {
  padding: 4rem 1.5rem 1.5rem 1.5rem; }
  section.transportes-bases h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: white;
    margin-bottom: 2.5rem;
    font-size: 1.75rem; }
    section.transportes-bases h2 .h2-light {
      font-weight: 300; }
  section.transportes-bases .cards-tecnologia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem; }
    section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor {
      width: 24rem; }
      section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor .card-tecnologia-imagen {
        background-size: cover;
        padding: 16rem 2rem 2rem 2rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
        text-align: end; }
        section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor .card-tecnologia-imagen h3 {
          text-align: Left;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.12rem;
          color: white;
          margin-bottom: 1rem; }
        section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor .card-tecnologia-imagen button {
          font-weight: 500;
          font-size: 1rem;
          background-color: #dcdcdc;
          padding: 0.75rem 1rem;
          border: none;
          border-radius: .5rem;
          box-shadow: 0.2rem 0.2rem 0.2rem #414141; }
          section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor .card-tecnologia-imagen button:hover {
            transform: scale(1.01);
            box-shadow: 0.2rem 0.2rem 0.3rem #868686; }
          section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor .card-tecnologia-imagen button:active {
            color: white;
            background-color: #747474;
            transform: scale(0.99);
            box-shadow: 0.1rem 0.1rem 0.1rem #353535; }
      section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor .tecnologia-img-uno {
        background-image: url(../img/img-transporte-1.png); }
      section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor .tecnologia-img-dos {
        background-image: url(../img/img-transporte-2.png); }
      section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor .tecnologia-img-tres {
        background-image: url(../img/img-transporte-3.png); }
      section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor .tecnologia-img-cuatro {
        background-image: url(../img/img-transporte-4.png); }
      section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor .tecnologia-img-cinco {
        background-image: url(../img/img-base-1.png); }
      section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor .tecnologia-img-seis {
        background-image: url(../img/img-base-2.png); }
      section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor h4 {
        text-align: left;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: white;
        margin-left: 1rem; }
      section.transportes-bases .cards-tecnologia .card-tecnologia-contenedor ul {
        padding-left: 3rem;
        color: #bfbfbf;
        font-weight: 400;
        font-size: 0.87rem;
        line-height: 1.75rem;
        list-style: square; }

/* MEDIA QUERIES DESKTOP */
@media screen and (min-width: 768px) {
  /*Desktop: Main: Página de Tecnología*/
  main.pagina-tecnologia .icon-down {
    margin-top: 26.5rem; } }

/*Mobile: Main: Página de Tripulación*/
main.pagina-tripulacion {
  background-image: url("../img/img-infinito.png"); }
  main.pagina-tripulacion h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.37rem;
    color: white;
    margin-top: 1rem; }
    main.pagina-tripulacion h1 .h1-light {
      font-weight: 300; }
  main.pagina-tripulacion h4 {
    text-align: right;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: white;
    margin-top: 1rem; }
    main.pagina-tripulacion h4 .autor-frase {
      display: block;
      font-weight: 400;
      font-style: italic;
      margin-top: .5rem; }
  main.pagina-tripulacion .icon-down {
    text-align: center;
    padding: 0.62rem;
    animation-name: indicate-down;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    margin-top: 9rem; }

@keyframes indicate-down {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(6px); } }

/*Mobile: Section: Tripulación*/
section.tripulacion {
  padding: 4rem 1.5rem 1.5rem 1.5rem; }
  section.tripulacion h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: white;
    margin-bottom: 3rem; }
    section.tripulacion h2 .h2-light {
      display: block;
      font-weight: 300; }
  section.tripulacion .cards-tripulacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4rem; }
    section.tripulacion .cards-tripulacion .card-tripulacion-informacion {
      height: auto;
      width: auto;
      flex-direction: column;
      text-align: center;
      padding: 1rem;
      background-color: #1a1a1a;
      border-radius: 1rem; }
      section.tripulacion .cards-tripulacion .card-tripulacion-informacion .img-tripulacion {
        margin-bottom: 1rem;
        height: 18rem; }
        section.tripulacion .cards-tripulacion .card-tripulacion-informacion .img-tripulacion img {
          height: 100%;
          border-radius: 1rem; }
      section.tripulacion .cards-tripulacion .card-tripulacion-informacion h3 {
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.12rem;
        color: white; }
      section.tripulacion .cards-tripulacion .card-tripulacion-informacion p {
        color: #bfbfbf;
        font-weight: 400;
        font-size: 0.87rem;
        line-height: 1.75rem; }
      section.tripulacion .cards-tripulacion .card-tripulacion-informacion .button-tripulacion button {
        font-weight: 500;
        font-size: 1rem;
        background-color: #dcdcdc;
        padding: 0.75rem 1rem;
        border: none;
        border-radius: .5rem;
        box-shadow: 0.2rem 0.2rem 0.2rem #414141; }
        section.tripulacion .cards-tripulacion .card-tripulacion-informacion .button-tripulacion button:hover {
          transform: scale(1.01);
          box-shadow: 0.2rem 0.2rem 0.3rem #868686; }
        section.tripulacion .cards-tripulacion .card-tripulacion-informacion .button-tripulacion button:active {
          color: white;
          background-color: #747474;
          transform: scale(0.99);
          box-shadow: 0.1rem 0.1rem 0.1rem #353535; }

/* MEDIA QUERIES DESKTOP */
@media screen and (min-width: 768px) {
  /*Desktop: Main: Página de Tripulación*/
  main.pagina-tripulacion h1 {
    margin-top: 4rem; }
  main.pagina-tripulacion .icon-down {
    margin-top: 15.5rem; }
  /*Desktop: Section: Tripulación*/
  section.tripulacion .cards-tripulacion .card-tripulacion-informacion {
    width: 40rem;
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    grid-template-areas: "nombre-especialista img-tripulacion" "biografia img-tripulacion" "button-tripulacion img-tripulacion";
    gap: 1rem; }
    section.tripulacion .cards-tripulacion .card-tripulacion-informacion .img-tripulacion {
      grid-area: img-tripulacion;
      height: 26rem; }
      section.tripulacion .cards-tripulacion .card-tripulacion-informacion .img-tripulacion img {
        height: 100%; }
    section.tripulacion .cards-tripulacion .card-tripulacion-informacion h3 {
      grid-area: nombre-especialista; }
    section.tripulacion .cards-tripulacion .card-tripulacion-informacion p {
      grid-area: biografia;
      height: 14rem; }
    section.tripulacion .cards-tripulacion .card-tripulacion-informacion .button-tripulacion {
      grid-area: button-tripulacion; } }

/*Mobile: Main: Página de Revista*/
main.pagina-revista {
  background-image: url(../img/img-cableado.png);
  background-size: cover;
  background-position: center;
  padding: 1.5rem; }
  main.pagina-revista h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.37rem;
    color: white;
    padding-top: 1rem; }
  main.pagina-revista h2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: white;
    font-weight: 400;
    padding-bottom: 1rem; }

/*Mobile: Section: Noticias*/
section.noticias {
  padding: 3rem 1.5rem 1rem 1.5rem; }
  section.noticias .cards-noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4rem; }
    section.noticias .cards-noticias .noticia-individual {
      width: 24rem;
      background-size: cover;
      padding: 16rem 2rem 2rem 2rem;
      border-radius: 1rem;
      text-align: end; }
      section.noticias .cards-noticias .noticia-individual h3 {
        text-align: Left;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.12rem;
        color: white;
        margin-bottom: 1rem; }
      section.noticias .cards-noticias .noticia-individual button {
        font-weight: 500;
        font-size: 1rem;
        background-color: #dcdcdc;
        padding: 0.75rem 1rem;
        border: none;
        border-radius: .5rem;
        box-shadow: 0.2rem 0.2rem 0.2rem #414141; }
        section.noticias .cards-noticias .noticia-individual button:hover {
          transform: scale(1.01);
          box-shadow: 0.2rem 0.2rem 0.3rem #868686; }
        section.noticias .cards-noticias .noticia-individual button:active {
          color: white;
          background-color: #747474;
          transform: scale(0.99);
          box-shadow: 0.1rem 0.1rem 0.1rem #353535; }
    section.noticias .cards-noticias .noticia-img-uno {
      background-image: url(../img/not-uno.png); }
    section.noticias .cards-noticias .noticia-img-dos {
      background-image: url(../img/not-dos.png); }
    section.noticias .cards-noticias .noticia-img-tres {
      background-image: url(../img/not-tres.png); }
    section.noticias .cards-noticias .noticia-img-cuatro {
      background-image: url(../img/not-cuatro.png); }
    section.noticias .cards-noticias .noticia-img-cinco {
      background-image: url(../img/not-cinco.png); }
    section.noticias .cards-noticias .noticia-img-seis {
      background-image: url(../img/not-seis.png); }
  section.noticias .boton-mostrar-mas {
    padding-top: 4rem;
    text-align: center; }
    section.noticias .boton-mostrar-mas button {
      font-weight: 500;
      font-size: 1rem;
      background-color: #dcdcdc;
      padding: 0.75rem 1rem;
      border: none;
      border-radius: .5rem;
      box-shadow: 0.2rem 0.2rem 0.2rem #414141; }
      section.noticias .boton-mostrar-mas button:hover {
        transform: scale(1.01);
        box-shadow: 0.2rem 0.2rem 0.3rem #868686; }
      section.noticias .boton-mostrar-mas button:active {
        color: white;
        background-color: #747474;
        transform: scale(0.99);
        box-shadow: 0.1rem 0.1rem 0.1rem #353535; }

/*Mobile: Main: Página de Contacto*/
main.pagina-contacto {
  background-image: url(../img/img-despegue.png);
  background-size: cover;
  background-position: center;
  padding: 1.5rem; }
  main.pagina-contacto h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.37rem;
    color: white;
    padding-top: 1rem; }
  main.pagina-contacto h2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: white;
    font-weight: 400;
    padding-bottom: 1rem; }

/*Mobile: Section: Form-Map*/
section.form-map {
  padding: 3rem 1.5rem 0rem 1.5rem; }
  section.form-map .form {
    margin-bottom: 3rem;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    background-color: #1a1a1a; }
    section.form-map .form .text-field {
      width: 100%;
      padding: .5rem 1rem .5rem 1rem;
      background-color: #0b0b0b;
      border: 2px solid #cbcbcb;
      border-radius: .25rem;
      margin-bottom: 1rem;
      color: white; }
    section.form-map .form .user-message {
      height: 12rem; }
    section.form-map .form .button-enviar {
      font-weight: 500;
      font-size: 1rem;
      background-color: #dcdcdc;
      padding: 0.75rem 1rem;
      border: none;
      border-radius: .5rem;
      box-shadow: 0.2rem 0.2rem 0.2rem #414141; }
      section.form-map .form .button-enviar:hover {
        transform: scale(1.01);
        box-shadow: 0.2rem 0.2rem 0.3rem #868686; }
      section.form-map .form .button-enviar:active {
        color: white;
        background-color: #747474;
        transform: scale(0.99);
        box-shadow: 0.1rem 0.1rem 0.1rem #353535; }
  section.form-map .map .google-map {
    border-radius: 1rem;
    justify-content: center;
    margin-bottom: 1rem; }
  section.form-map .map h3 {
    text-align: left;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: white; }
  section.form-map .map p {
    color: #bfbfbf;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.75rem; }

/* MEDIA QUERIES DESKTOP */
@media screen and (min-width: 768px) {
  /*Desktop: Section: Form-Map*/
  section.form-map {
    padding: 3rem 10rem 1rem 5rem;
    display: grid;
    gap: 4rem;
    grid-template-columns: 50% 50%;
    grid-template-areas: "form map"; }
    section.form-map .form {
      grid-area: form; }
    section.form-map .map {
      grid-area: map; } }

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Body*/
body {
  background-color: #0b0b0b;
  font-family: "Roboto", sans-serif; }

/*Mobile: Header*/
header {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0%;
  z-index: 3; }
  header .logo img {
    height: 3.4rem; }
  header .imagotipo {
    display: none; }
  header .nav-menu {
    background-color: #1a1a1a;
    border: #bababa solid 2px;
    border-radius: 2rem; }
    header .nav-menu .menu-boton {
      text-align: center;
      color: #cbcbcb;
      border-radius: 1.6rem;
      margin-top: 1rem; }
      header .nav-menu .menu-boton:hover {
        font-weight: 700;
        color: white;
        background-color: rgba(255, 255, 255, 0.02); }
      header .nav-menu .menu-boton:active {
        color: #cecece;
        background-color: rgba(255, 255, 255, 0.06); }
    header .nav-menu .button-focus {
      font-weight: 900;
      color: white; }

/*Mobile: Main: Página de Inicio*/
main.pagina-inicio {
  background-image: url("../img/img-planeta.png"); }
  main.pagina-inicio h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.37rem;
    color: white; }
    main.pagina-inicio h1 .h1-light {
      font-weight: 300;
      display: block; }
  main.pagina-inicio h4 {
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: white;
    margin-top: 14rem; }
  main.pagina-inicio .icon-down {
    text-align: center;
    padding: 0.62rem;
    animation-name: indicate-down;
    animation-duration: .8s;
    animation-iteration-count: infinite; }

@keyframes indicate-down {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(6px); } }

/*Mobile: Section: Viaje espacial*/
section.viaje-espacial {
  background-image: url(../img/gif-space-orbital.gif);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: top; }
  section.viaje-espacial .secondary-menu ul {
    display: flex;
    overflow: scroll;
    width: auto;
    background-color: #cbcbcb;
    padding: 0 .5rem;
    justify-content: space-between;
    align-items: center; }
    section.viaje-espacial .secondary-menu ul li {
      color: black;
      list-style: none;
      text-align: center;
      font-weight: 400;
      font-size: .9rem;
      padding: 1rem 1.75rem;
      border-radius: 0.4rem; }
      section.viaje-espacial .secondary-menu ul li:active {
        font-weight: 500; }
    section.viaje-espacial .secondary-menu ul .button-focus {
      background-color: #FAFAFA;
      font-weight: 700;
      box-shadow: 0.25rem 0rem 0.25rem grey; }
  section.viaje-espacial .bar-vertical {
    display: flex;
    justify-content: space-around;
    padding: 0; }
    section.viaje-espacial .bar-vertical li {
      color: white;
      border-radius: 1.75rem;
      list-style: none;
      font-weight: 400;
      font-size: 0.87rem;
      padding: .5rem;
      text-align: center; }
      section.viaje-espacial .bar-vertical li:active {
        background-color: rgba(116, 116, 116, 0.25);
        font-weight: 700; }
    section.viaje-espacial .bar-vertical .button-focus {
      border: 0.18rem solid white;
      font-weight: 700;
      background-color: rgba(96, 96, 96, 0.25); }
  section.viaje-espacial .img-scroll {
    display: none; }
  section.viaje-espacial .carrusel-mobile {
    padding-top: 13rem; }

/*Mobile: Section: Viaje especificaciones*/
section.viaje-especificaciones {
  padding: 2rem 1.5rem 1.5rem 1.5rem; }
  section.viaje-especificaciones h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: white;
    padding-top: 1rem;
    margin-bottom: 2rem; }
  section.viaje-especificaciones .linea-proceso {
    display: none; }
  section.viaje-especificaciones .pie-linea {
    justify-self: left;
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.25rem;
    gap: 2rem; }
    section.viaje-especificaciones .pie-linea li {
      text-align: center; }
      section.viaje-especificaciones .pie-linea li span {
        display: block;
        font-weight: 300; }
  section.viaje-especificaciones .principal-info {
    color: #bfbfbf;
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 2rem 0 1rem 0; }
    section.viaje-especificaciones .principal-info h4 {
      text-align: left;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.5rem;
      color: white;
      padding-bottom: .5rem; }
  section.viaje-especificaciones h4.titulo-info {
    text-align: left;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: white; }
  section.viaje-especificaciones .listado-uno {
    padding-left: 2rem;
    color: #bfbfbf;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.75rem;
    list-style: square;
    margin-bottom: 0; }
  section.viaje-especificaciones .listado-dos {
    padding-left: 2rem;
    color: #bfbfbf;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.75rem;
    list-style: square; }
  section.viaje-especificaciones .form-check {
    padding: 2.5rem 0 0 0; }
    section.viaje-especificaciones .form-check .form {
      background-color: #1a1a1a;
      border: 2px solid white;
      border-radius: 0.62rem;
      text-align: center;
      padding: 1rem; }
      section.viaje-especificaciones .form-check .form h3 {
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.12rem;
        color: white;
        padding-bottom: 1rem; }
      section.viaje-especificaciones .form-check .form p {
        color: #bfbfbf;
        font-weight: 400;
        font-size: 0.87rem;
        line-height: 1.5rem;
        padding-bottom: 1.5rem; }
      section.viaje-especificaciones .form-check .form span {
        color: #dbdbdb;
        font-weight: 400;
        font-size: 0.87rem;
        line-height: 1.5rem; }
      section.viaje-especificaciones .form-check .form h4 {
        text-align: center;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: white;
        padding-top: 1rem; }
      section.viaje-especificaciones .form-check .form button {
        font-weight: 500;
        font-size: 1rem;
        background-color: #dcdcdc;
        padding: 0.75rem 1rem;
        border: none;
        border-radius: .5rem;
        box-shadow: 0.2rem 0.2rem 0.2rem #414141;
        margin-top: 1rem; }
        section.viaje-especificaciones .form-check .form button:hover {
          transform: scale(1.01);
          box-shadow: 0.2rem 0.2rem 0.3rem #868686; }
        section.viaje-especificaciones .form-check .form button:active {
          color: white;
          background-color: #747474;
          transform: scale(0.99);
          box-shadow: 0.1rem 0.1rem 0.1rem #353535; }

/* Mobile: Footer */
footer {
  background-color: #3A3A3A;
  padding: 3rem 0rem 2rem 0rem;
  margin-top: 2rem;
  text-align: center; }
  footer .otros-enlaces {
    list-style: none;
    padding-left: 0; }
    footer .otros-enlaces li {
      padding-bottom: 1rem; }
      footer .otros-enlaces li a {
        font-weight: 400;
        font-size: 0.87rem;
        line-height: 20px;
        text-decoration: none;
        color: white; }
        footer .otros-enlaces li a:hover {
          font-weight: 700;
          text-decoration: underline; }
        footer .otros-enlaces li a:active {
          font-weight: 400;
          text-decoration: none;
          color: #d1d1d1; }
  footer .derechos {
    font-weight: 300;
    font-size: 0.87rem;
    line-height: 20px;
    color: white;
    text-align: center; }
    footer .derechos span {
      display: block; }

@media screen and (min-width: 769px) {
  /*Desktop: Header*/
  header {
    padding: 2rem 5rem 1.5rem 5rem; }
    header .nav-menu .menu-boton {
      margin: 0rem 1rem 0rem 1rem; }
    header .logo {
      display: none; }
    header .imagotipo {
      display: block; }
      header .imagotipo img {
        height: 3.8rem; }
  /*Desktop: Main: Página de Inicio*/
  main.pagina-inicio h4 {
    margin-top: 22rem; }
  /*Desktop: Section: Viaje espacial*/
  section.viaje-espacial {
    height: 100vh;
    background-size: cover;
    padding: 3.75rem 5rem 1.25rem 5rem;
    display: grid;
    grid-template-columns: .3fr 1fr .4fr;
    grid-template-areas: "menu-secundario menu-secundario menu-secundario" "menu-vertical gif-viaje img-scroll";
    gap: 10px; }
    section.viaje-espacial .secondary-menu {
      grid-area: menu-secundario;
      justify-self: center; }
      section.viaje-espacial .secondary-menu ul {
        border-radius: 16px;
        gap: 1rem; }
        section.viaje-espacial .secondary-menu ul li {
          font-size: 1rem;
          border-radius: 1rem;
          padding: 1rem 3rem; }
          section.viaje-espacial .secondary-menu ul li:hover {
            background-color: #E8E8E8; }
    section.viaje-espacial .bar-vertical {
      grid-area: menu-vertical;
      justify-self: center;
      align-self: center;
      flex-direction: column; }
      section.viaje-espacial .bar-vertical li {
        margin: 0.75rem 0 0.75rem 0; }
        section.viaje-espacial .bar-vertical li:hover {
          background-color: rgba(218, 218, 218, 0.25); }
    section.viaje-espacial .img-scroll {
      display: block;
      grid-area: img-scroll;
      overflow: hidden scroll;
      height: 28rem;
      border-radius: 0.75rem; }
      section.viaje-espacial .img-scroll img {
        margin-bottom: 4px;
        width: 100%;
        border-radius: 0.75rem; }
        section.viaje-espacial .img-scroll img:hover {
          transform: scale(1.02); }
        section.viaje-espacial .img-scroll img:active {
          transform: scale(0.99); }
    section.viaje-espacial .carrusel-mobile {
      display: none; }
  /*Desktop: Section: Viaje especificaciones*/
  section.viaje-especificaciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    grid-template-areas: "titulo-viaje titulo-viaje titulo-viaje titulo-viaje" "linea-proceso linea-proceso linea-proceso linea-proceso" "pie-linea pie-linea pie-linea pie-linea" "principal-info principal-info form-check form-check" "titulo-info titulo-info form-check form-check" "listado-uno listado-dos form-check form-check";
    gap: 0.62rem; }
    section.viaje-especificaciones .titulo-viaje {
      grid-area: titulo-viaje; }
    section.viaje-especificaciones .linea-proceso {
      display: block;
      grid-area: linea-proceso;
      justify-self: center;
      margin-left: 2rem; }
    section.viaje-especificaciones .pie-linea {
      grid-area: pie-linea;
      display: flex;
      flex-direction: row;
      gap: 14rem; }
    section.viaje-especificaciones .principal-info {
      grid-area: principal-info; }
    section.viaje-especificaciones .titulo-info {
      grid-area: titulo-info;
      padding-bottom: 0; }
    section.viaje-especificaciones .listado-uno {
      grid-area: listado-uno; }
    section.viaje-especificaciones .listado-dos {
      grid-area: listado-dos; }
    section.viaje-especificaciones .form-check {
      grid-area: form-check;
      margin-top: 2rem;
      padding: 0; }
  /* Desktop: Footer */
  footer {
    padding: 3.5rem 5rem 1.5rem 5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem; }
    footer .otros-enlaces {
      display: flex; }
      footer .otros-enlaces li a {
        padding: 0rem 2.18rem; }
    footer .derechos {
      text-align: end; }
      footer .derechos span {
        display: inline; }
      footer .derechos .autor {
        display: block; } }
