//Import:Utilities
@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/listas";
@import "utilities/extends";

//Import: Page-Styles
@import "page-styles/tecnologia";
@import "page-styles/tripulacion";
@import "page-styles/revista";
@import "page-styles/contacto";


/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    background-color: $color-principal;
    font-family: $font-principal;
}

/*Mobile: Header*/
header {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 3;
    .logo img {
        height: 3.4rem;
    }
    .imagotipo {
        display: none;
    }
    .nav-menu {
        background-color: nth($colores, 5);
        border: rgb(186, 186, 186) solid 2px;
        border-radius: 2rem;
        .menu-boton {
            text-align: center;
            color: rgb(203, 203, 203);
            border-radius: 1.6rem;
            margin-top: 1rem;
            &:hover {
                font-weight: 700;
                color: nth($colores, 1);
                background-color: rgba(255, 255, 255, 0.02);
            }
            &:active {
                color: rgb(206, 206, 206);
                background-color: hsla(0, 0%, 100%, 0.06);
            }
        }
        .button-focus {
            font-weight: 900;
            color: nth($colores, 1);
        }
    }
}

/*Mobile: Main: Página de Inicio*/
main.pagina-inicio {
    @extend %main-image-mobile;
    background-image: url("../img/img-planeta.png");
    h1 {
        @include h1 (center);
        .h1-light {
            font-weight: 300;
            display: block;
        }
    }
    h4 {
        @include h4 (center);
        margin-top: 14rem;
    }    
    .icon-down {
        @include icon-down;
    }
}

/*Mobile: Section: Viaje espacial*/
section.viaje-espacial {
    background-image: url(../img/gif-space-orbital.gif);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: top;
    .secondary-menu {
        ul {
            display: flex;
            overflow: scroll;
            width: auto;
            background-color: nth($colores, 3);
            padding: 0 .5rem;
            justify-content: space-between;
            align-items: center;
            li {
                color: nth($colores, 2);
                list-style: none;
                text-align: center;
                font-weight: 400;
                font-size: .9rem;
                padding: 1rem 1.75rem;
                border-radius: 0.4rem;
                &:active {
                    font-weight: 500;
                }
            }
            .button-focus {
                background-color: #FAFAFA;
                font-weight: 700;
                box-shadow: 0.25rem 0rem 0.25rem grey;
            }
        }
    }
    .bar-vertical {
        display: flex;
        justify-content: space-around;
        padding: 0;
        li {
            color: white;
            border-radius: 1.75rem;
            list-style: none;
            font-weight: 400;
            font-size: 0.87rem;
            padding: .75rem;
            text-align: center;
            &:active {
                background-color: rgba(116, 116, 116, 0.25);
                font-weight: 700;
            }
        }
        .button-focus {
            border: 0.18rem solid white;
            font-weight: 700;
            background-color: rgba(96, 96, 96, 0.25);
        }
    }
    .img-scroll {
        display: none;
    }
    .carrusel-mobile {
        padding-top: 13rem;
    }
}

/*Mobile: Section: Viaje especificaciones*/
section.viaje-especificaciones {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    h2 {
        @include h2 (center);
        padding-top: 1rem;
        margin-bottom: 2rem;
    }
    .linea-proceso {
        display: none;
    }
    .pie-linea {
        justify-self: left;
        display: flex;
        flex-direction: column;
        list-style: none;
        color: nth($colores, 1);
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 1.25rem;
        padding-left: 0;
        gap: 2rem;
        li {
            text-align: center;
            span {
                display: block;
                font-weight: 300;
            }
        }
    }
    .principal-info {
        color: rgb(191, 191, 191);
        font-size: 0.87rem;
        font-weight: 400;
        line-height: 1.5rem;
        padding: 2rem 0 1rem 0;
        h4 {
            @include h4 (left);
            padding-bottom: .5rem
        }
    }
    h4.titulo-info {
        @include h4 (left);
    }
    .listado-uno {
        @include list (2rem);
        margin-bottom: 0;
    }
    .listado-dos {
        @include list (2rem);
    }
    .form-check {
        padding: 2.5rem 0 0 0;
        .form {
            background-color: nth($colores, 5);
            border: 2px solid nth($colores, 1);
            border-radius: 0.62rem;
            text-align: center;
            padding: 1rem;
            h3 {
                @include h3 (center);
                padding-bottom: 1rem;
            }
            p {
                color: rgb(191, 191, 191);
                font-weight: 400;
                font-size: 0.87rem;
                line-height: 1.5rem;
                padding-bottom: 1.5rem;
            }
            span {
                color: rgb(219, 219, 219);
                font-weight: 400;
                font-size: 0.87rem;
                line-height: 1.5rem;
            }
            h4 {
                @include h4 (center);
                padding-top: 1rem;
            }
            button {
                @include button;
                margin-top: 1rem;
            }
        }
    }
}

/* Mobile: Footer */
footer {
    background-color: nth($colores, 4);
    padding: 3rem 0rem 2rem 0rem;
    margin-top: 2rem;
    text-align: center;
    .otros-enlaces {
        list-style: none;
        padding-left: 0;
        li {
            padding-bottom: 1rem;
            a {
                font-weight: 400;
                font-size: 0.87rem;
                line-height: 20px;
                text-decoration: none;
                color: nth($colores, 1);
                &:hover {
                    font-weight: 700;
                    text-decoration: underline;
                }
                &:active {
                    font-weight: 400;
                    text-decoration: none;
                    color: #d1d1d1;
                }
            }
        }
    }
    .derechos {
        font-weight: 300;
        font-size: 0.87rem;
        line-height: 20px;
        color: nth($colores, 1);
        text-align: center;
        span {
            display: block;
        }
    }
}





/* MEDIA QUERIES TABLET */
@media (min-width:481px) and (max-width:768px){

    /*Tablet: Header*/
    header {
        padding: 2.5rem;
    }

    /*Tablet: Main: Página de Inicio*/
    main.pagina-inicio {
        padding: 3rem 2rem 2rem 2rem;
        h1 {
            @include h1 (left);
        }
        h4 {
            margin-top: 16rem;
        }
    }

    /*Tablet: Section: Viaje espacial*/
    section.viaje-espacial {
        .secondary-menu {
            ul {
                justify-content: space-evenly;
            }
        }
        .bar-vertical {
            justify-content: space-evenly;
            padding-top: 1rem;
            li {
                padding: .5rem 1.75rem;
            }
        }
        .carrusel-mobile {
            padding-top: 24.5rem;
        }
    }
    /*Tablet: Section: Viaje especificaciones*/
    section.viaje-especificaciones {
        padding: 3rem 2rem;
        .form-check {
            .form {
                padding: 3rem 2rem;
            }
        }
    }
}





@media screen and (min-width:769px) {

    /*Desktop: Header*/
    header {
        padding: 2rem 5rem 1.5rem 5rem;
        .nav-menu {
            .menu-boton {
                margin: 0rem 1rem 0rem 1rem;
            }
        }
        .logo {
            display: none;
        }
        .imagotipo {
            display: block;
            img {
                height: 3.8rem;
            }
        }
    }

    /*Desktop: Main: Página de Inicio*/
    main.pagina-inicio{
        h4 {
            margin-top: 22rem;
        }
    }

    /*Desktop: Section: Viaje espacial*/
    section.viaje-espacial {
        height: 100vh;
        background-size: cover;
        padding: 3.75rem 5rem 1.25rem 5rem;
        display: grid;
        grid-template-columns: .3fr 1fr .4fr;
        grid-template-areas:
            "menu-secundario menu-secundario menu-secundario"
            "menu-vertical gif-viaje img-scroll";
        gap: 10px;
        .secondary-menu {
            grid-area: menu-secundario;
            justify-self: center;
            ul {
                border-radius: 16px;
                gap: 1rem;
                li {
                    font-size: 1rem;
                    border-radius: 1rem;
                    padding: 1rem 3rem;
                    &:hover {
                            background-color: #E8E8E8;
                        }
                }
            }
        }
        .bar-vertical {
            grid-area: menu-vertical;
            justify-self: center;
            align-self: center;
            flex-direction: column;
            li {
                margin: 0.75rem 0 0.75rem 0;
                &:hover {
                    background-color: rgba(218, 218, 218, 0.25);
                }
            }
        }
        .img-scroll {
            display: block;
            grid-area: img-scroll;
            overflow: hidden scroll;
            height: 28rem;
            border-radius: 0.75rem;
            img {
                margin-bottom: 4px;
                width: 100%;
                border-radius: 0.75rem;
                &:hover{
                    transform: scale(1.02);
                }
                &:active{
                    transform: scale(0.99);
                }
            }
        }
        .carrusel-mobile {
            display: none;
        }
    }

    /*Desktop: Section: Viaje especificaciones*/
    section.viaje-especificaciones {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr .5fr;
        grid-template-areas:
            "titulo-viaje titulo-viaje titulo-viaje titulo-viaje"
            "linea-proceso linea-proceso linea-proceso linea-proceso"
            "pie-linea pie-linea pie-linea pie-linea"
            "principal-info principal-info form-check form-check"
            "titulo-info titulo-info form-check form-check"
            "listado-uno listado-dos form-check form-check";
        gap: 0.62rem;
        .titulo-viaje {
            grid-area: titulo-viaje;
        }
        .linea-proceso {
            display: block;
            grid-area: linea-proceso;
            justify-self: center;
            margin-left: 2rem;
        }
        .pie-linea {
            grid-area: pie-linea;
            display: flex;
            flex-direction: row;
            gap: 14rem;
        }
        .principal-info{
            grid-area: principal-info;
        }
        .titulo-info{
            grid-area: titulo-info;
            padding-bottom: 0;
        }
        .listado-uno {
            grid-area: listado-uno;
        }
        .listado-dos {
            grid-area: listado-dos;
        }
        .form-check {
            grid-area: form-check;
            margin-top: 2rem;
            padding: 0;
        }
    }

    /* Desktop: Footer */
    footer {
        padding: 3.5rem 5rem 1.5rem 5rem;
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        .otros-enlaces {
            display: flex;
            li {
                a {
                    padding: 0rem 2.18rem;
                }
            }
        }
        .derechos {
            text-align: end;
            span {
                display: inline;
            }
            .autor {
                display: block;
            }
        }
    }
}