//EXTENDS
%header {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2rem 5rem 1.5rem 5rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 2;
}

%main-image {
    height: 100vh;
    padding: 3.75rem 5rem 1.25rem 5rem;
    background-size: cover;
    background-position: center;
}