//EXTENDS

%main-image-mobile {
    height: 100vh;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    background-size: cover;
    background-position: center;
}

%main-image-tablet {
    height: 100vh;
    padding: 3rem 2rem 2rem 2rem;
    background-size: cover;
    background-position: center;
}

%main-image {
    height: 100vh;
    padding: 3.75rem 5rem 1.25rem 5rem;
    background-size: cover;
    background-position: center;
}