/*Mobile: Main: Página de Contacto*/
main.pagina-contacto{
    background-image: url(../img/img-despegue.png);
    background-size: cover;
    background-position: center;
    padding: 1.5rem;
    h1 {
        @include h1 (center);
        padding-top: 1rem;
    }
    h2 {
        @include h4 (center);
        font-weight: 400;
        padding-bottom: 1rem;
    }
}

/*Mobile: Section: Form-Map*/
section.form-map {
    padding: 3rem 1.5rem 0rem 1.5rem;
    .form {
        margin-bottom: 3rem;
        border-radius: 1rem;
        padding: 1.5rem;
        text-align: center;
        background-color: nth($colores, 5);
        .text-field {
            width: 100%;
            padding: .5rem 1rem .5rem 1rem;
            background-color: $color-principal;
            border: 2px solid nth($colores, 3);
            border-radius: .25rem;
            margin-bottom: 1rem;
            color: nth($colores, 1);
        }
        .user-message {
            height: 12rem;
        }
        .button-enviar {
            @include button;        
        }
    }
    
    .map {
        .google-map {
            border-radius: 1rem;
            justify-content: center;
            margin-bottom: 1rem;
        }
        h3 {
            @include h4 (left);
        }
        p {
            color: rgb(191, 191, 191);
            font-weight: 400;
            font-size: 0.87rem;
            line-height: 1.75rem;
        }
    }
}


/* MEDIA QUERIES DESKTOP */
@media screen and (min-width:768px) {

    /*Desktop: Section: Form-Map*/
    section.form-map {
        padding: 3rem 10rem 1rem 5rem;
        display: grid;
        gap: 4rem;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "form map";
        .form {grid-area: form;}
        .map {grid-area: map;}
    }
}