/*Mobile: Main: Página de Tecnología*/
main.pagina-tecnologia {
    @extend %main-image-mobile;
    background-image: url("../img/img-astronauta.png");
    h1 {
        @include h1 (center);
        margin-top: 1rem;
        .h1-light {
            font-weight: 300;
        }
    }
    .icon-down {
        @include icon-down;
        margin-top: 18rem;
    }
}

/*Mobile: Section: Transportes y bases espaciales*/
section.transportes-bases {
    padding: 4rem 1.5rem 1.5rem 1.5rem;
    h2 {
        @include h2 (center);
        margin-bottom: 2.5rem;
        font-size: 1.75rem;
        .h2-light {
            font-weight: 300;
        }
    }
    .cards-tecnologia {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 3rem;
        .card-tecnologia-contenedor {
            width: 24rem;
            .card-tecnologia-imagen {
                background-size: cover;
                padding: 16rem 2rem 2rem 2rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
                text-align: center;
                h3 {
                    @include h3 (Left);
                    margin-bottom: 1rem;
                }
                button {
                    @include button;
                }
            }
            .tecnologia-img-uno {
                background-image: url(../img/img-transporte-1.png);
            }
            .tecnologia-img-dos {
                background-image: url(../img/img-transporte-2.png);
            }
            .tecnologia-img-tres {
                background-image: url(../img/img-transporte-3.png);
            }
            .tecnologia-img-cuatro {
                background-image: url(../img/img-transporte-4.png);
            }
            .tecnologia-img-cinco {
                background-image: url(../img/img-base-1.png);
            }
            .tecnologia-img-seis {
                background-image: url(../img/img-base-2.png);
            }
            h4 {
                @include h4 (left);
                margin-left: 1rem;
            }
            ul {
                @include list (3rem);
            }
        }
    }
}





/* MEDIA QUERIES TABLET */
@media (min-width:481px) and (max-width:768px) {

    /*Tablet: Main: Página de Tecnología*/
    main.pagina-tecnologia {
        .icon-down {
            margin-top: 21rem;
        }
    }

    /*Tablet: Section: Transportes y bases espaciales*/
    section.transportes-bases {
        padding: 4rem 2rem 1.5rem 2rem;
        h2 {
            @include h2 (center);
            .h2-light {
                display: block;
            }
        }
    }
}





/* MEDIA QUERIES DESKTOP */
@media screen and (min-width:769px) {
    
    /*Desktop: Main: Página de Tecnología*/
    main.pagina-tecnologia{
        .icon-down {
            margin-top: 27rem;
        }
    }
    section.transportes-bases{
        h2 {
            .h2-light{
                display: block;
            }
        }
        .cards-tecnologia {
            .card-tecnologia-contenedor {
                .card-tecnologia-imagen {
                    text-align: end;
                }
            }
        }
    }
}